In [2]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 10
### Team Member Names: David, Tanvi, Johan
### Team Strategy Chosen: Market Meet

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.

-------------------------------------------------------------------------------------------------------------------------------------------
## Competition Goal: Market Meet

Goal: Try to have the 25-stock portfolio’s returns match the average of the TSX composite + S&P 500’s return (~0.370%) as accurately as possible, over the 5-day period (Nov. 24 to Nov. 28).

- **S&P/TSX Composite Index** (`^GSPTSE`)
- **S&P 500 Index** (`^GSPC`)

| Index | YTD Return | Daily Return (÷ 252)| 5-Day Estimated Return |
|:------|:-----------:|:--------------------:|:----------------------:|
| TSX Composite | 21.74% | 0.0863% | 0.43% |
| S&P 500 | 15.55% | 0.0617% | 0.31% |
| **Average (50/50)** | — | — | **≈ 0.370%** |

Use historical data (daily returns) from `yfinance` to estimate:
  - Mean returns
  - Volatility (standard deviation)
  - Sharpe ratio (risk-adjusted return)
  - Beta and alpha risk
  - Correlation with the benchmark
  - Idiosyncratic (residual) risk

Select 10–25 stocks (we aim for 25 if possible) that:
- Have **beta ≈ 1** and high correlation with the benchmark
- Are liquid (average daily volume ≥ 5,000 shares)
- Have sector diversification (no sector >40% of total value)
- Include at least one large-cap (> 10B CAD) and one small-cap (< $2B CAD)

Weights are between (100 / (2n))% and 15% (for 25 stocks, between 2% and 15%)
- Spend approximately **$1,000,000 CAD**, net of trading fees:
- Fees = min(2.15 USD, 0.001 USD * shares) per trade, applied to all purchases
-------------------------------------------------------------------------------------------------------------------------------------------

In [3]:
# Global parameters and settings

plt.style.use("default")

CAD_budget = 1_000_000

min_stocks = 10
max_stocks = 25
desired_num_stocks = 25  # we aim for 25 if the universe allows

TSX_Index = "^GSPTSE"
SP500_Index = "^GSPC"

# Risk-free rate per day (very small over a short horizon, we approximate as 0)
risk_free_daily = 0.0

# Holding period in trading days (given by assignment)
holding_days = 5

In [ ]:
pd.set_option("display.float_format", "{:,.0f}".format)


tickers_df = pd.read_csv("Tickers_Example.csv", header=None, names=["Ticker"])
tickers_list = tickers_df["Ticker"].tolist()

print("Total tickers loaded:", len(tickers_list))



#helper to check if ticker belongs to US or CA markets only

def is_us_or_canadian(info):
    exchange = info.get("exchange", "")
    valid_exchanges = ["NMS", "NGM", "NYSE", "NYQ", "TOR", "TSX"] 
    
    return exchange in valid_exchanges


# get industry, sector, daily prices, and avg daily volume
start_ytd = "2025-01-01"         
volume_start = "2024-10-01"
volume_end   = "2025-09-30"

all_data = []
daily_data_dict = {}     # stores full daily price dataframe fpr each ticker


for ticker in tickers_list:
    print("Fetching:", ticker)

    t = yf.Ticker(ticker)
    info = t.info

    # Skip non-US/CA tickers
    if not is_us_or_canadian(info):
        print(" → Skipped (not US/CA market)\n")
        continue

    industry = info.get("industry")
    sector = info.get("sector")

    #  Historical YTD Daily Data
    hist = t.history(start=start_ytd, end=datetime.today().strftime("%Y-%m-%d"), interval="1d")

    if hist.empty:
        print(" → Skipped (no price data)\n")
        continue

    hist = hist[["Close", "Volume"]].copy()
    hist.index = hist.index.strftime("%Y-%m-%d")  #remove time

    daily_data_dict[ticker] = hist   # store the raw daily data

   
    # get average daily volume between: Oct 1 2024 → Sep 30 2025
    # drop months with < 18 trading days
  
    subset = hist.loc[volume_start:volume_end].copy()

    # Add month label yyyy-mm
    subset["Month"] = subset.index.str.slice(0, 7)

    # Count trading days per month
    days_per_month = subset.groupby("Month")["Volume"].count()

    # Only keep months with ≥ 18 trading days (per assignment rule)
    valid_months = days_per_month[days_per_month >= 18].index.tolist()

    filtered = subset[subset["Month"].isin(valid_months)]

    avg_daily_volume = filtered["Volume"].mean()

    # get other data
    all_data.append({
        "Ticker": ticker,
        "Industry": industry,
        "Sector": sector,
        "Avg Daily Volume (Oct24–Sep25)": avg_daily_volume
    })

    print(" fetched \n")


# convert to DataFrame
meta_df = pd.DataFrame(all_data)

print("\nFinal Extracted Metadata:")
display(meta_df)

''' #checking if data stored properly
for t in daily_data_dict:
    print(f"\n Daily Data for {t}")
    display(daily_data_dict[t].head())
'''

Total tickers loaded: 41
Fetching: AAPL
 fetched

Fetching: ABBV
 fetched

Fetching: ABT
 fetched

Fetching: ACN
 fetched

Fetching: AGN
 → Skipped (not US/CA market)

Fetching: AIG
 fetched

Fetching: AMZN
 fetched

Fetching: AXP
 fetched

Fetching: BA
 fetched

Fetching: BAC
 fetched

Fetching: BB.TO
 fetched

Fetching: BIIB
 fetched

Fetching: BK
 fetched

Fetching: BLK
 fetched

Fetching: BMY
 fetched

Fetching: C
 fetched

Fetching: CAT
 fetched

Fetching: CELG
 → Skipped (not US/CA market)

Fetching: CL
 fetched

Fetching: KO
 fetched

Fetching: LLY
 fetched

Fetching: LMT
 fetched

Fetching: MO
 fetched

Fetching: MON
 → Skipped (not US/CA market)

Fetching: MRK
 fetched

Fetching: PEP
 fetched

Fetching: PFE
 fetched

Fetching: PG
 fetched

Fetching: PM
 fetched

Fetching: PYPL
 fetched

Fetching: QCOM
 fetched

Fetching: RTN
 → Skipped (not US/CA market)

Fetching: RY.TO
 fetched

Fetching: SHOP.TO
 fetched

Fetching: T.TO
 fetched

Fetching: TD.TO
 fetched

Fetching: TXN
 fetched

Fetching: UNH
 fetched

Fetching: UNP
 fetched

Fetching: UPS
 fetched

Fetching: USB
 fetched


Final Extracted Metadata:

,Ticker,Industry,Sector,Avg Daily Volume (Oct24–Sep25)
0,AAPL,Consumer Electronics,Technology,"57,229,545"
1,ABBV,Drug Manufacturers - General,Healthcare,"6,458,556"
2,ABT,Medical Devices,Healthcare,"6,606,041"
3,ACN,Information Technology Services,Technology,"3,829,870"
4,AIG,Insurance - Diversified,Financial Services,"4,573,731"
5,AMZN,Internet Retail,Consumer Cyclical,"44,208,234"
6,AXP,Credit Services,Financial Services,"2,892,203"
7,BA,Aerospace & Defense,Industrials,"8,291,391"
8,BAC,Banks - Diversified,Financial Services,"41,253,442"
9,BB.TO,Software - Infrastructure,Technology,"2,381,497"
10,BIIB,Drug Manufacturers - General,Healthcare,"1,564,908"
11,BK,Banks - Diversified,Financial Services,"4,037,827"
12,BLK,Asset Management,Financial Services,"723,317"
13,BMY,Drug Manufacturers - General,Healthcare,"13,322,045"
14,C,Banks - Diversified,Financial Services,"15,410,384"
15,CAT,Farm & Heavy Construction Machinery,Industrials,"2,764,122"
16,CL,Household & Personal Products,Consumer Defensive,"5,244,955"
17,KO,Beverages - Non-Alcoholic,Consumer Defensive,"16,938,885"
18,LLY,Drug Manufacturers - General,Healthcare,"4,091,083"
19,LMT,Aerospace & Defense,Industrials,"1,628,306"
20,MO,Tobacco,Consumer Defensive,"8,969,981"
21,MRK,Drug Manufacturers - General,Healthcare,"15,028,806"
22,PEP,Beverages - Non-Alcoholic,Consumer Defensive,"8,439,145"
23,PFE,Drug Manufacturers - General,Healthcare,"45,931,224"
24,PG,Household & Personal Products,Consumer Defensive,"7,976,630"
25,PM,Tobacco,Consumer Defensive,"5,985,840"
26,PYPL,Credit Services,Financial Services,"11,238,608"
27,QCOM,Semiconductors,Technology,"8,277,561"
28,RY.TO,Banks - Diversified,Financial Services,"4,187,628"
29,SHOP.TO,Software - Application,Technology,"2,034,011"
30,T.TO,Telecom Services,Communication Services,"3,945,589"
31,TD.TO,Banks - Diversified,Financial Services,"7,226,438"
32,TXN,Semiconductors,Technology,"7,229,747"
33,UNH,Healthcare Plans,Healthcare,"12,862,548"
34,UNP,Railroads,Industrials,"3,608,490"
35,UPS,Integrated Freight & Logistics,Industrials,"6,745,875"
36,USB,Banks - Regional,Financial Services,"10,481,832"

=== Daily Data for AAPL ===

            Close    Volume
Date
2025-01-02    243  55740700
2025-01-03    242  40244100
2025-01-06    244  45045600
2025-01-07    241  40856000
2025-01-08    242  37628900

=== Daily Data for ABBV ===

            Close   Volume
Date
2025-01-02    173  4092000
2025-01-03    175  4380200
2025-01-06    174  6302100
2025-01-07    173  5905200
2025-01-08    172  4488500

=== Daily Data for ABT ===

            Close   Volume
Date
2025-01-02    111  3569100
2025-01-03    112  4416700
2025-01-06    111  6037200
2025-01-07    111  5300100
2025-01-08    112  4455800

=== Daily Data for ACN ===

            Close   Volume
Date
2025-01-02    344  2253600
2025-01-03    349  2029700
2025-01-06    346  2356300
2025-01-07    351  4663100
2025-01-08    353  2216900

=== Daily Data for AIG ===

            Close   Volume
Date
2025-01-02     72  2422000
2025-01-03     72  2964600
2025-01-06     71  3789200
2025-01-07     71  3235400
2025-01-08     70  6850300

=== Daily Data for AMZN ===

            Close    Volume
Date
2025-01-02    220  33956600
2025-01-03    224  27515600
2025-01-06    228  31849800
2025-01-07    222  28084200
2025-01-08    222  25033300

=== Daily Data for AXP ===

            Close   Volume
Date
2025-01-02    295  1930100
2025-01-03    301  1979600
2025-01-06    299  2714000
2025-01-07    300  2058800
2025-01-08    300  2061300

=== Daily Data for BA ===

            Close    Volume
Date
2025-01-02    172  12450000
2025-01-03    170  10513800
2025-01-06    171  11133400
2025-01-07    173   7045000
2025-01-08    172   5108700

=== Daily Data for BAC ===

            Close    Volume
Date
2025-01-02     44  25610600
2025-01-03     44  23455700
2025-01-06     45  30518500
2025-01-07     45  41111200
2025-01-08     45  40246000

=== Daily Data for BB.TO ===

            Close   Volume
Date
2025-01-02      6  4291000
2025-01-03      5  3788200
2025-01-06      6  4909500
2025-01-07      6  4872400
2025-01-08      6  3673800

=== Daily Data for BIIB ===

            Close   Volume
Date
2025-01-02    150  1097100
2025-01-03    152  1188700
2025-01-06    153  1319800
2025-01-07    153  1110300
2025-01-08    151  1038700

=== Daily Data for BK ===

            Close   Volume
Date
2025-01-02     76  3443300
2025-01-03     75  3369200
2025-01-06     76  3381300
2025-01-07     76  4498800
2025-01-08     76  3031600

=== Daily Data for BLK ===

            Close  Volume
Date
2025-01-02  1,002  604500
2025-01-03  1,005  469000
2025-01-06    997  616200
2025-01-07    966  970500
2025-01-08    971  778500

=== Daily Data for BMY ===

            Close    Volume
Date
2025-01-02     54   9092000
2025-01-03     54   9533500
2025-01-06     55   9459600
2025-01-07     55  10814600
2025-01-08     55  11995900

=== Daily Data for C ===

            Close    Volume
Date
2025-01-02     68   9827400
2025-01-03     69  11342900
2025-01-06     71  19199700
2025-01-07     72  18309400
2025-01-08     71  13742800

=== Daily Data for CAT ===

            Close   Volume
Date
2025-01-02    354  1802600
2025-01-03    358  1390800
2025-01-06    359  1590700
2025-01-07    358  1607400
2025-01-08    356  1828800

=== Daily Data for CL ===

            Close   Volume
Date
2025-01-02     88  3206100
2025-01-03     88  3101700
2025-01-06     85  6077400
2025-01-07     85  4758800
2025-01-08     85  5063900

=== Daily Data for KO ===

            Close    Volume
Date
2025-01-02     60  12991000
2025-01-03     60  10403200
2025-01-06     59  17924200
2025-01-07     60  17799600
2025-01-08     60  14412400

=== Daily Data for LLY ===

            Close   Volume
Date
2025-01-02    772  1938900
2025-01-03    776  1799100
2025-01-06    759  3991100
2025-01-07    768  3576100
2025-01-08    781  3478400

=== Daily Data for LMT ===

            Close   Volume
Date
2025-01-02    472   953700
2025-01-03    472   817200
2025-01-06    456  1698600
2025-01-07    454  1276600
2025-01-08    459   998700

=== Daily Data for MO ===

            Close   Volume
Date
2025-01-02     50  5472800
2025-01-03     50  5604800
2025-01-06     49  6242400
2025-01-07     49  5365700
2025-01-08     49  6487200

=== Daily Data for MRK ===

            Close    Volume
Date
2025-01-02     96   6153300
2025-01-03     96   6070300
2025-01-06     97  10111100
2025-01-07     98  10890900
2025-01-08     97   8654700

=== Daily Data for PEP ===

            Close   Volume
Date
2025-01-02    146  4970200
2025-01-03    145  5218100
2025-01-06    142  9470600
2025-01-07    141  7473300
2025-01-08    142  6791800

=== Daily Data for PFE ===

            Close    Volume
Date
2025-01-02     25  32899200
2025-01-03     25  33417000
2025-01-06     25  43951000
2025-01-07     25  35030000
2025-01-08     25  35430700

=== Daily Data for PG ===

            Close   Volume
Date
2025-01-02    162  5401700
2025-01-03    161  5256600
2025-01-06    156  8731700
2025-01-07    157  8447400
2025-01-08    158  4974800

=== Daily Data for PM ===

            Close   Volume
Date
2025-01-02    118  3388700
2025-01-03    119  3350100
2025-01-06    118  4993600
2025-01-07    118  4933300
2025-01-08    119  3569400

=== Daily Data for PYPL ===

            Close   Volume
Date
2025-01-02     86  6224500
2025-01-03     88  6132500
2025-01-06     90  7869200
2025-01-07     88  6080800
2025-01-08     88  7400000

=== Daily Data for QCOM ===

            Close   Volume
Date
2025-01-02    151  5009100
2025-01-03    155  5885800
2025-01-06    157  9599800
2025-01-07    158  7666000
2025-01-08    156  7731900

=== Daily Data for RY.TO ===

            Close   Volume
Date
2025-01-02    167  4303700
2025-01-03    168  2992000
2025-01-06    169  3381100
2025-01-07    169  3295900
2025-01-08    169  5609800

=== Daily Data for SHOP.TO ===

            Close   Volume
Date
2025-01-02    155  1396400
2025-01-03    158  1381400
2025-01-06    164  1543200
2025-01-07    153  2009200
2025-01-08    155  2044700

=== Daily Data for T.TO ===

            Close   Volume
Date
2025-01-02     19  2730700
2025-01-03     19  3853200
2025-01-06     19  3773400
2025-01-07     19  3616300
2025-01-08     19  5683900

=== Daily Data for TD.TO ===

            Close    Volume
Date
2025-01-02     73  18507000
2025-01-03     74  17948300
2025-01-06     74  22054800
2025-01-07     75  22302900
2025-01-08     74  23749600

=== Daily Data for TXN ===

            Close   Volume
Date
2025-01-02    181  4500500
2025-01-03    185  4574100
2025-01-06    186  4682000
2025-01-07    186  5035200
2025-01-08    186  4230400

=== Daily Data for UNH ===

            Close   Volume
Date
2025-01-02    496  4234900
2025-01-03    504  3019500
2025-01-06    505  4444800
2025-01-07    505  3914500
2025-01-08    515  4141700

=== Daily Data for UNP ===

            Close   Volume
Date
2025-01-02    225  3177200
2025-01-03    227  1994500
2025-01-06    226  2798800
2025-01-07    226  2752700
2025-01-08    228  2062800

=== Daily Data for UPS ===

            Close   Volume
Date
2025-01-02    118  3050500
2025-01-03    118  3490400
2025-01-06    118  5049200
2025-01-07    119  3725300
2025-01-08    121  4536300

=== Daily Data for USB ===

            Close   Volume
Date
2025-01-02     46  6227800
2025-01-03     47  6418900
2025-01-06     47  7261800
2025-01-07     47  6014300
2025-01-08     47  5955500